.badges-1 {
  border: black solid 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  background-color: aliceblue;
  width: 50vw;
}

.badges-2 {
  border: black solid 1px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  background-color: aliceblue;
  width: 50vw;
  text-align: center;
}

.item {
  padding: 1rem;
  margin: 1rem;
  border: black solid 1px;
  border-radius: 5px;
  width: 175px;
  height: 250px;
}

.parent {
  height: 100vh;
}