.navbar-brand {
    margin-right: 5rem!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2em!important;
    padding-left: 2em!important;
}

.mainContainer {
    margin: 3%;
}

.segment {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 400px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.form-control-sm {
    width: 20%!important;
}

input[placeholder=Search] {
    width: 100%!important;
}

.makeStyles-root-1 {
    width: 100%!important;
}
.customTable {
    overflow-y: auto;
    max-height: 400px;
}
